body{
    width:100%;
    background-color:#281D61;
    font-family: 'Noto Sans KR', sans-serif;
}
.present-background {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid black;
}

.left {
    float:left;
    width: 48%;
    border:1px solid red;
}
.left hr{
    width: 100px;
    border: 1px dotted white;
}
.left img{
    width: 40%;
}

.right {
    float:left;
    width: 48%;
    border:1px solid yellow;
}
.right h1 {
    color: white;
}
.right p {
    color: #6286C4;
    font-weight: bold;
}