.pro-body {
    margin: 0 auto;
    width: 1250px;
}

.pro-top {
    width: 640px;
    height: 100px;
    margin-bottom: 3%;
}
.pro-top button {
    margin-top: 25px;
}
.pro-top > .Word-title, button {
    display: inline;
}

.pro-left {
    float:left;
    width: 25%;
    /* border: 1px solid red; */
}
.pro-left img {
    width: 100%;
}

.pro-right {
    float:left;
    width: 75%;
    /* border: 1px solid yellow; */
}
.pro-right table {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 20px;
    border-top: 3px solid white;
    margin-bottom: 120px;
    /* padding: 0 15px 0 15px; */
}
.pro-right table tr {
    height: 70px;
}
.pro-right table tr td {
    border-bottom: 1px solid white;
    /* margin-right: 10px; */
}
.pro-right table tr td:nth-last-child(4){
    width: 520px;
}
.pro-right table tr td:nth-last-child(3){
    width: 140px;
    font-weight: bold;
}
.pro-right table tr td:nth-last-child(2) {
    width: 100px;
    /* padding: 15px; */
    color: #FF9599;
}
.pro-right table tr td:nth-last-child(1) {
    width: 100px;
    /* padding: 15px; */
    color: #6AE3F8;
}