html {
  background: url("../../img/Concept/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}

.header > h2 {
  position: fixed;
  color: #ff9498;
}

.wrap {
  position: fixed;
  width: 40%;
  left: 65%;
  top: 25%;
}

.title > h2 {
  color: white;
  margin-top: 3rem;
}

.contents1 {
  color: #6286c4;
}

.contents2 {
  color: #6286c4;
}
