html {
  width: auto;
  height: auto;
  background: url("../../img/Concept/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}

.header > h1 {
  position: fixed;
  color: #ff9498;
}

.title > h1 {
  color: white;
  margin-top: 3rem;
}

.contents1 {
  color: #6286c4;
}

.contents2 {
  color: #6286c4;
}
