.present-background {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid black;
}
.left {
    float:left;
    width: 48%;
    border:1px solid red;
}
.left p {
    color: #FF9599;
    font-size: 55px;
    line-height: 55px;
    margin: 0px 0 30px 0;
}
.left hr {
    border: 1px dotted white;
    width: 170px;
    /* float:left; */
    /* text-align: left; */
}

.right {
    float:left;
    width: 48%;
    border:1px solid yellow;
    padding-left: 30px;
}
.right h1 {
    color: white;
    line-height: 50px;
}
.right p {
    color: #6286C4;
    width: 600px;
}